<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="topnav" id="myTopnav">
    <h2><a href="/" class="active">ToDoList</a></h2>
    <h2><a href="/Work">WorkList</a></h2>
    <div class="custom">
      <form  action="/bumm/humm" method="post">
        <input type="text" name="custom" value="" placeholder="Custom List" style="box-shadow: inset 0 -3px 0 0 #A683E3;height:30px;width:180px;" >
        <button type="submit" name="submit" style="min-height: 50px;width: 50px;  border-radius: 50%;">Go</button>
      </form>
    </div>
    </div>



 
